
#gameContainer {
    font-family: 'Noto Sans', sans-serif;
}

.main-header {
    font-family: 'Noto Serif', serif;
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

.country-form input.blink-error {
    background-color: #FFAAAF;
}

.country-form input.blink-success {
    background-color: #C1FFC5;
}

.country-form input.blink-duplicate {
    background-color: #FFDD77;
}

.rest-countries__container {
    column-count: 3;
}

.rest-countries__container > div {
    padding: 3px 0;
}

.send-button, .stop-button {
    margin-right: 10px;
}